{
  "presets": [
    "es2015",
    "env",
    "stage-0"
  ],
  "plugins": [
    [
			"syntax-dynamic-import"
		],
		[
			"transform-decorators-legacy"
		],
    [
			"transform-runtime", 
			{
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
		],
    [
      "import",
      [{
        "libraryName": "mido-h5-cp",
        "libraryDirectory": "lib/"
      }]
    ]
  ]
}